//-- defined sizes
$phone-size: 480px;
$tablet-size: 992px;

#courses-page{
	font-family: 'Indie Flower' !important;
}

div.course span{
	width: 100%;
	@media screen and (min-width: $tablet-size){
		height: 200px;
	}

	//-- style phones
	@media screen and (max-width: $phone-size){
		height: 150px;
	}

	img{
		width: inherit;
		height: inherit;
	}
}