<section id="courses-page" class="container main-content-page" pageOverhead>
	<br>
	<div class="container color-opacity-brown padding-round">
		<div class="row">
			<div class="col-sm-12" align="center">
				<h1 class="jumbotron-heading"><strong>Cursos destacados</strong></h1>
			</div>
			<div class="col-sm-12" align="center">
				<p class="lead">Aquí verás nuestros últimos cursos, todo lo más reciente que preparamos sólo para ti. Disfrútalo !</p>
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>
	<br>
	<section id="courses-list">
		<div class="row">
			<div class="col-md-4">
				<div class="course color-opacity-yellow padding-round" align="center">
					<h1><strong>ABC</strong></h1>
					<span>
						<img src="assets/images/courses/abc.jpg" alt="">
					</span>
					<br><br>
					<div align="center">
						<p>Disfruta, Lee y aprende cada una de las letras en este divertido curso. Adentro podrás jugar mientras aprendes y encontrarás nuevos amigos. </p>
						<p><a class="btn btn-success" routerLink="/detalle-curso-abc" routerLinkActive="active" role="button">Ir al Curso</a></p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="course padding-round" align="center">
					<h1><strong>Animales</strong></h1>
					<span>
						<img src="assets/images/courses/animales.jpg" alt="">
					</span>
					<br><br>
					<div align="center">
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
						<p><a class="btn btn-success" routerLink="/detalle-curso-animales" routerLinkActive="active" role="button">Ir al Curso</a></p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="course color-opacity-red padding-round" align="center">
					<h1><strong>Comida</strong></h1>
					<span>
						<img src="assets/images/courses/comida.jpg" alt="">
					</span>
					<br><br>
					<div align="center">
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
						<p><a class="btn btn-success" routerLink="/detalle-curso-alimentos" routerLinkActive="active" role="button">Ir al Curso</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="course padding-round" align="center">
					<h1><strong>Colores</strong></h1>
					<span>
						<img src="assets/images/courses/colores.jpg" alt="">
					</span>
					<br><br>
					<div align="center">
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
						<p><a class="btn btn-success" routerLink="/detalle-curso-colores" routerLinkActive="active" role="button">Ir al Curso</a></p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="course color-opacity-blue padding-round" align="center">
					<h1><strong>Comida</strong></h1>
					<span>
						<img src="assets/images/courses/comida.jpg" alt="">
					</span>
					<br><br>
					<div align="center">
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
						<p><a class="btn btn-success" routerLink="/detalle-curso-alimentos" routerLinkActive="active" role="button">Ir al Curso</a></p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="course padding-round" align="center">
					<h1><strong>N&uacute;meros</strong></h1>
					<span>
						<img src="assets/images/courses/numeros.jpg" alt="">
					</span>
					<br><br>
					<div align="center">
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
						<p><a class="btn btn-success" routerLink="/detalle-curso-numeros" routerLinkActive="active" role="button">Ir al Curso</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="course color-opacity-green padding-round" align="center">
					<h1><strong>ABC</strong></h1>
					<span>
						<img src="assets/images/courses/abc.jpg" alt="">
					</span>
					<br><br>
					<div align="center">
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
						<p><a class="btn btn-success" routerLink="/detalle-curso-abc" routerLinkActive="active" role="button">Ir al Curso</a></p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="course padding-round" align="center">
					<h1><strong>Animales</strong></h1>
					<span>
						<img src="assets/images/courses/animales.jpg" alt="">
					</span>
					<br><br>
					<div align="center">
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
						<p><a class="btn btn-success" routerLink="/detalle-curso-animales" routerLinkActive="active" role="button">Ir al Curso</a></p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="course color-opacity-morango padding-round" align="center">
					<h1><strong>Comida</strong></h1>
					<span>
						<img src="assets/images/courses/comida.jpg" alt="">
					</span>
					<br><br>
					<div align="center">
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
						<p><a class="btn btn-success" routerLink="/detalle-curso-alimentos" routerLinkActive="active" role="button">Ir al Curso</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="course padding-round" align="center">
					<h1><strong>Colores</strong></h1>
					<span>
						<img src="assets/images/courses/colores.jpg" alt="">
					</span>
					<br><br>
					<div align="center">
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
						<p><a class="btn btn-success" routerLink="/detalle-curso-colores" routerLinkActive="active" role="button">Ir al Curso</a></p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="course color-opacity-orange padding-round" align="center">
					<h1><strong>Comida</strong></h1>
					<span>
						<img src="assets/images/courses/comida.jpg" alt="">
					</span>
					<br><br>
					<div align="center">
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
						<p><a class="btn btn-success" routerLink="/detalle-curso-alimentos" routerLinkActive="active" role="button">Ir al Curso</a></p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="course padding-round" align="center">
					<h1><strong>N&uacute;meros</strong></h1>
					<span>
						<img src="assets/images/courses/numeros.jpg" alt="">
					</span>
					<br><br>
					<div align="center">
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
						<p><a class="btn btn-success" routerLink="/detalle-curso-numeros" routerLinkActive="active" role="button">Ir al Curso</a></p>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>