<section id="courses-page" class="container main-content-page">
	<br>
	<div class="container color-opacity-brown padding-round">
		<h1 class="jumbotron-heading">Cursos destacados</h1>
		<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptates quos suscipit explicabo error pariatur hic non, sapiente quis doloremque inventore, volupt </p>
	</div>
	<br>
	<br>
	<br>
	<br>
	<section id="courses-list">
		<div class="row">
			<div class="col-md-4">
				<div class="course" align="center">
					<h1>ABC</h1>
					<span>
						<img src="assets/images/courses/abc.jpg" alt="">
					</span>
					<div align="center">
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
						<p><a class="btn btn-success" routerLink="/course-detail" routerLinkActive="active" role="button">Ir al Curso</a></p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="course" align="center">
					<h1>Animales</h1>
					<span>
						<img src="assets/images/courses/animales.jpg" alt="">
					</span>
					<div align="center">
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
						<p><a class="btn btn-success" routerLink="/course-detail" routerLinkActive="active" role="button">Ir al Curso</a></p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="course" align="center">
					<h1>Comida</h1>
					<span>
						<img src="assets/images/courses/comida.jpg" alt="">
					</span>
					<div align="center">
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
						<p><a class="btn btn-success" routerLink="/course-detail" routerLinkActive="active" role="button">Ir al Curso</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="course" align="center">
					<h1>Colores</h1>
					<span>
						<img src="assets/images/courses/colores.jpg" alt="">
					</span>
					<div align="center">
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
						<p><a class="btn btn-success" routerLink="/course-detail" routerLinkActive="active" role="button">Ir al Curso</a></p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="course" align="center">
					<h1>Comida</h1>
					<span>
						<img src="assets/images/courses/comida.jpg" alt="">
					</span>
					<div align="center">
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
						<p><a class="btn btn-success" routerLink="/course-detail" routerLinkActive="active" role="button">Ir al Curso</a></p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="course" align="center">
					<h1>N&uacute;meros</h1>
					<span>
						<img src="assets/images/courses/numeros.jpg" alt="">
					</span>
					<div align="center">
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
						<p><a class="btn btn-success" routerLink="/course-detail" routerLinkActive="active" role="button">Ir al Curso</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="course" align="center">
					<h1>ABC</h1>
					<span>
						<img src="assets/images/courses/abc.jpg" alt="">
					</span>
					<div align="center">
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
						<p><a class="btn btn-success" routerLink="/course-detail" routerLinkActive="active" role="button">Ir al Curso</a></p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="course" align="center">
					<h1>Animales</h1>
					<span>
						<img src="assets/images/courses/animales.jpg" alt="">
					</span>
					<div align="center">
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
						<p><a class="btn btn-success" routerLink="/course-detail" routerLinkActive="active" role="button">Ir al Curso</a></p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="course" align="center">
					<h1>Comida</h1>
					<span>
						<img src="assets/images/courses/comida.jpg" alt="">
					</span>
					<div align="center">
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
						<p><a class="btn btn-success" routerLink="/course-detail" routerLinkActive="active" role="button">Ir al Curso</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="course" align="center">
					<h1>Colores</h1>
					<span>
						<img src="assets/images/courses/colores.jpg" alt="">
					</span>
					<div align="center">
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
						<p><a class="btn btn-success" routerLink="/course-detail" routerLinkActive="active" role="button">Ir al Curso</a></p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="course" align="center">
					<h1>Comida</h1>
					<span>
						<img src="assets/images/courses/comida.jpg" alt="">
					</span>
					<div align="center">
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
						<p><a class="btn btn-success" routerLink="/course-detail" routerLinkActive="active" role="button">Ir al Curso</a></p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="course" align="center">
					<h1>N&uacute;meros</h1>
					<span>
						<img src="assets/images/courses/numeros.jpg" alt="">
					</span>
					<div align="center">
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
						<p><a class="btn btn-success" routerLink="/course-detail" routerLinkActive="active" role="button">Ir al Curso</a></p>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>