#courses-page{
	font-family: 'Indie Flower' !important;
}

div.course span{
	width: 100%;
	height: 400px;
}

div.course img{
	width: inherit;
	height: inherit;
}

div.course{
	background-color: #eeeeee;
}