<header id="main-header" class="sticky-top">
	<nav id="main-menu" class="navbar navbar-toggleable-md">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMainMenu" aria-controls="navbarMainMenu" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarMainMenu">
			<!--<a class="navbar-brand" routerLink="/home" routerLinkActive="active">Aprendiendo F&aacute;cil</a>-->
			<ul class="navbar-nav mr-auto mt-3 mt-lg-0">
				<li class="nav-item color-01 col-md-6" color="01" state="active" MenuHighlight>
					<a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
				</li>
				<li class="nav-item color-02 col-md-6" color="02" state="inactive" MenuHighlight>
					<a class="nav-link" routerLink="/courses" routerLinkActive="active">Cursos</a>
				</li>
				<!--<li class="nav-item color-03 col-md-5" color="03" state="inactive" MenuHighlight>
					<a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
				</li>
				<li class="nav-item color-04 col-md-5" color="04" state="inactive" MenuHighlight>
					<a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
				</li>-->
			</ul>
			<ul id="rightMenu" class="nav navbar-nav ml-auto">
				<li class="nav-item color-01 col-md-4" color="01" state="inactive" MenuHighlight>
					<a class="nav-link" routerLink="/register" routerLinkActive="active">Registro</a>
				</li>
				<li class="nav-item color-02 col-md-4" color="02" state="inactive" MenuHighlight>
					<a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
				</li>
				<li class="nav-item color-03 col-md-4" color="03" state="inactive" MenuHighlight>
					<a class="nav-link" routerLink="/profile" routerLinkActive="active">Perfil</a>
				</li>
			</ul>
		</div>
	</nav>
</header>