<section id="register-page" class="container main-content-page">
	<br><br>
	<form>
		<div class="container">
			<div align="center"><h1><strong>Registrate</strong></h1></div>
			<div class="row">
				<div class="form-inline col-md-6">
					<label class="sr-only" for="nameInput">Nombre</label>
					<input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0 col-md-12" id="nameInput" placeholder="Nombre" required>
				</div>
				<div class="form-inline col-md-6">
					<label class="sr-only" for="nameInput">Apellido</label>
					<input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0 col-md-12" id="nameInput" placeholder="Apellido" required>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="form-inline col-md-6">
					<label class="sr-only" for="nameInput">Correo</label>
					<input type="email" class="form-control mb-2 mr-sm-2 mb-sm-0 col-md-12" id="nameInput" placeholder="Correo" required>
				</div>
				<div class="form-inline col-md-6">
					<label class="sr-only" for="nameInput">Edad</label>
					<input type="number" class="form-control mb-2 mr-sm-2 mb-sm-0 col-md-12" id="nameInput" placeholder="Edad" required>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="form-inline col-md-4">
					<label class="sr-only" for="nameInput">Nombre de usuario</label>
					<input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0 col-md-12" id="nameInput" placeholder="Nombre de usuario" required>
				</div>
				<div class="form-inline col-md-4">
					<label class="sr-only" for="nameInput">Contraseña</label>
					<input type="password" class="form-control mb-2 mr-sm-2 mb-sm-0 col-md-12" id="nameInput" placeholder="Contraseña" required>
				</div>
				<div class="form-inline col-md-4">
					<label class="sr-only" for="nameInput">Repite tu Contraseña</label>
					<input type="password" class="form-control mb-2 mr-sm-2 mb-sm-0 col-md-12" id="nameInput" placeholder="Repite tu Contraseña" required>
				</div>
			</div>
			<br>
			<div class="form-group row">
				<div class="offset-sm-2 col-sm-10">
					<button type="submit" class="btn btn-success">Registrate</button>
				</div>
			</div>
		</div>
	</form>
	<br><br>
</section>