<section id="register-page" class="container main-content-page padding-round" pageOverhead>
	<div class="color-opacity-brown padding-round">
		<h1 class="jumbotron-heading indie-flower" style="text-align: center"><strong>Registrate</strong></h1>
	</div>
	<form>
		<div class="container">
			<br>
			<div class="row">
				<div class="form-inline col-md-6">
					<label class="sr-only" for="nameInput">Nombre</label>
					<input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0 col-md-12" id="nameInput" placeholder="Nombre" required>
				</div>
				<div class="form-inline col-md-6">
					<label class="sr-only" for="apellidoInput">Apellido</label>
					<input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0 col-md-12" id="apellidoInput" placeholder="Apellido" required>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="form-inline col-md-6">
					<label class="sr-only" for="correoInput">Correo</label>
					<input type="email" class="form-control mb-2 mr-sm-2 mb-sm-0 col-md-12" id="correoInput" placeholder="Correo" required>
				</div>
				<div class="form-inline col-md-6">
					<label class="sr-only" for="edadInput">Fecha de nacimiento</label>
					<input type="date" class="form-control mb-2 mr-sm-2 mb-sm-0 col-md-12" id="edadInput" placeholder="Fecha de nacimiento" required>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="form-inline col-md-4">
					<label class="sr-only" for="usernameInput">Nombre de usuario</label>
					<input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0 col-md-12" id="usernameInput" placeholder="Nombre de usuario" required>
				</div>
				<div class="form-inline col-md-4">
					<label class="sr-only" for="contraseniaInput">Contraseña</label>
					<input type="password" class="form-control mb-2 mr-sm-2 mb-sm-0 col-md-12" id="contraseniaInput" placeholder="Contraseña" required>
				</div>
				<div class="form-inline col-md-4">
					<label class="sr-only" for="contraseniaRepetidaInput">Repite tu Contraseña</label>
					<input type="password" class="form-control mb-2 mr-sm-2 mb-sm-0 col-md-12" id="contraseniaRepetidaInput" placeholder="Repite tu Contraseña" required>
				</div>
			</div>
			<br>
			<div class="form-group row justify-content-center">
				<button type="submit" class="btn btn-brown col-sm-12 col-md-4 indie-flower font-white">Registrate</button>
			</div>
		</div>
	</form>
	<br><br>
</section>