<section class="jumbotron text-center">
	<div class="container">
		<h1 class="jumbotron-heading">About Us</h1>
		<p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptates quos suscipit explicabo error pariatur hic non, sapiente quis doloremque inventore, voluptas repellendus nulla similique, autem corporis fugiat commodi expedita.</p>
		<p>
			<a routerLink="/home" routerLinkActive="active" class="btn btn-primary">Ir a home</a>
			<a routerLink="/courses" routerLinkActive="active" class="btn btn-secondary">Ir a Cursos</a>
		</p>
	</div>
</section>