<footer id="main-footer">
	<nav id="main-footer-content" class="navbar navbar-toggleable-md">
		<a class="navbar-brand" href="#">Aprendiendo F&aacute;cil</a>
		<div class="container">
			<div class="row">
				<div class="col-md-offset-6" align="center">
					<p style="font-weight: bold;">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, aperiam."</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae aliquam eaque tempora molestias possimus laboriosam consectetur, laborum error veniam, rerum quasi odit corporis quod ducimus minima itaque velit vel. Praesentium.</p>
				</div>
				<br>
				<br>
				<br>
				<br>
				<br>
				<div class="col-md-4"> 
					<a class="nav-link" routerLink="/home" routerLinkActive="active"> Home </a> 
					<a class="nav-link" routerLink="/register" routerLinkActive="active"> Registro </a>
				</div>
				<div class="col-md-4"> 
					<a class="nav-link" routerLink="/courses" routerLinkActive="active"> Cursos </a> 
					<a class="nav-link" routerLink="/login" routerLinkActive="active"> Login </a>
				</div>
				<div class="col-md-4"> 
					<a class="nav-link" routerLink="/about-us" routerLinkActive="active"> Acerca de Nosotros </a> 
					<a class="nav-link" routerLink="/profile" routerLinkActive="active"> Perfil </a>
				</div>
			</div>
		</div>
	</nav>
</footer>