<footer id="main-footer">
	<div class="container">
		<div class="row justify-content-center">
			<p style="font-weight: bold;">¡Aprende, juega, divierte y has amigos!</p>
		</div>
	</div>
	<!--<nav id="main-footer-content" class="navbar navbar-toggleable-md">
		<div class="container">
			<div class="row">
				<div class="col-md-offset-6" align="center">
					
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae aliquam eaque tempora molestias possimus laboriosam consectetur, laborum error veniam, rerum quasi odit corporis quod ducimus minima itaque velit vel. Praesentium.</p>
				</div>
				<br>
				<br>
				<br>
				<br>
				<br>
				<div class="col-md-4"> 
					<a class="nav-link" routerLink="/inicio" routerLinkActive="active"> Home </a> 
					<a class="nav-link" routerLink="/registro" routerLinkActive="active"> Registro </a>
				</div>
				<div class="col-md-4"> 
					<a class="nav-link" routerLink="/cursos" routerLinkActive="active"> Cursos </a> 
					<a class="nav-link" routerLink="/iniciar-sesion" routerLinkActive="active"> Login </a>
				</div>
				<div class="col-md-4"> 
					<a class="nav-link" routerLink="/sobre-nosotros" routerLinkActive="active"> Acerca de Nosotros </a> 
					<a class="nav-link" routerLink="/perfil" routerLinkActive="active"> Perfil </a>
				</div>
			</div>
		</div>
	</nav>-->
	<section id="top-bar"><div class="shell clearfix"><p class="left address-phone"></p><p class="right socials"><a target="_blank" class="ico" href="https://www.facebook.com/yogabbagabba"><i class="fa fa-facebook"></i></a><a target="_blank" class="ico" href="https://twitter.com/yogabbagabba"><i class="fa fa-twitter"></i></a><a target="_blank" class="ico" href="https://instagram.com/yogabbagabba/"><i class="fa fa-instagram"></i></a><a target="_blank" class="ico" href="https://www.pinterest.com/yogabbagabba/"><i class="fa fa-pinterest"></i></a><a target="_blank" class="ico" href="https://www.youtube.com/user/yogabbagabba"><i class="fa fa-youtube"></i></a></p></div>
	</section>
</footer>