<footer id="main-footer">
	<div class="container">
		<div class="row justify-content-center">
			<p style="font-weight: bold;">¡Aprende, juega, divierte y has amigos!</p>
		</div>
		<div class="row justify-content-center">
			<section id="top-bar" class="col-6">
				<div class="shell clearfix">
					<p class="left address-phone"></p>
					<p class="right socials">
						<a target="_blank" class="ico" href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>
						<a target="_blank" class="ico" href="https://twitter.com"><i class="fa fa-twitter"></i></a>
						<a target="_blank" class="ico" href="https://instagram.com"><i class="fa fa-instagram"></i></a>
						<a target="_blank" class="ico" href="https://www.pinterest.com"><i class="fa fa-pinterest"></i></a>
						<a target="_blank" class="ico" href="https://www.youtube.com/user"><i class="fa fa-youtube"></i></a>
					</p>
				</div>
			</section>
		</div>
	</div>
</footer>