<section id="detalle-colores-page" class="container main-content-page" pageOverhead>
	<br>
	<div class="container color-opacity-brown padding-round">
		<h1 class="jumbotron-heading">¡COLORES!</h1>
		<p class="lead">Aprenda el ABC, todo el abcedario que su hijo tanto necesita conocer. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, beatae, odio! Cumque deleniti eligendi voluptates ducimus ex repellat molestiae asperiores nisi facilis deserunt, illum tempore illo delectus hic minima quibusdam!</p>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<span>
					<img src="assets/images/courses/colores.jpg" class="rounded mx-auto d-block">
				</span>
			</div>
		</div>
		<div class="row justify-content-center">
			<a class="btn btn-success btn-lg col-md-6" style="color: white; font-weight: bold;" routerLink="/colores" routerLinkActive="active">¡ Inicia el Curso !</a>
		</div>
	</div>
	<br>
	<br>
</section>