<section id="home-page" class="content container main-content-page" pageOverhead>
	<div id="main-banner" class="jumbotron banner-image padding-round">
		<div class="container-fluid" style="overflow: hidden;">
			<div class="row justify-content-center" align="center">
				<div class="col-sm-12">
					<h1 class="display-3 detach">{{ 'Welcome to Easy Learning world!' | translate }}</h1>
				</div>
				<div class="col-sm-12" align="center">
					<p class="detach">{{ 'We hope you enjoy your travel learning and playing!' | translate }}</p>
				</div>
			</div>
			<!--<p><a class="btn btn-primary btn-lg" href="#" role="button">M&aacute;s</a></p>-->
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div id="mainCarousel" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#mainCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#mainCarousel" data-slide-to="1"></li>
					<li data-target="#mainCarousel" data-slide-to="2"></li>
					<li data-target="#mainCarousel" data-slide-to="3"></li>
					<li data-target="#mainCarousel" data-slide-to="4"></li>
				</ol>
				<div class="carousel-inner" role="listbox">
					<div class="carousel-item active">
						<div class="custom-item">
							<img class="d-block img-fluid" src="assets/images/learning/learning03.jpg" alt="Third slide">
							<div class="carousel-caption d-none d-md-block">
								<h1><strong>¡{{'Learn' | translate}}!</strong></h1>
								<p>{{'Learn everything what you need to know as a kid' | translate}}.</p>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="custom-item">
							<img class="d-block img-fluid" src="assets/images/learning/learning01.jpeg" alt="First slide">
							<div class="carousel-caption d-none d-md-block">
								<h3>¡Juega!</h3>
								<p>Diviérte jugando, todo lo que te gusta.</p>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="custom-item">
							<img class="d-block img-fluid" src="assets/images/learning/learning02.jpg" alt="Second slide">
							<div class="carousel-caption d-none d-md-block">
								<h3>¡Rie!</h3>
								<p>Siempre es buen momento para una sonrisa.</p>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="custom-item">
							<img class="d-block img-fluid" src="assets/images/learning/learning04.jpg" alt="Fourth slide">
							<div class="carousel-caption d-none d-md-block">
								<h3>¡Comparte!</h3>
								<p>Intercambia información con muchos chicos de tu edad.</p>
							</div>
						</div>
					</div>
				</div>
				<a class="carousel-control-prev" href="#mainCarousel" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#mainCarousel" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</div>
	<br><br>
	<!-- Example row of columns -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 color-opacity padding-round">
				<div id="news" class="">
					<div align="center">
						<h1><strong>Noticias</strong></h1>
					</div>
					<div class="container" align="justify">
						<div class="container">
							<div class="row">
								<h3 class="grey-color"><strong>¡Nuevos Cursos!</strong></h3>
								<p class="detach-half">Se han añadido nuevos cursos a la plataforma, inicia sesión, ve a la sección mis cursos y revisa todas las novedades que tenemos para ti.</p>
								<p><a class="btn btn-secondary" href="#" role="button">Ver detalles »</a></p>
							</div>
						</div>
						<div class="row">
							<div class="container">
								<h3 class="grey-color"><strong>¡Nuevos Juegos!</strong></h3>
								<p class="detach-half">Se han añadido juegos a la plataforma, inicia sesión, ve a la sección mis cursos y revisa todas las novedades que tenemos para tu diversión.</p>
								<p><a class="btn btn-secondary" href="#" role="button">Ver detalles »</a></p>
							</div>
						</div>
						<div class="row">
							<div class="container">
								<h3 class="grey-color"><strong>¡Comparte E Interacciona!</strong></h3>
								<p class="detach-half">Esta es una nueva funcionalidad que te permite conectar con más niños del mundo.</p>
								<p><a class="btn btn-secondary" href="#" role="button">Ver detalles »</a></p>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-sm-12 col-md-8">
								<button class="btn btn-brown col-sm-12 indie-flower font-white">Ver m&aacute;s</button>
							</div>
						</div>
						<!--<div class="row">
							<div class="container">
								<h3>T&iacute;tulo de Noticia</h3>
								<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
								<p><a class="btn btn-secondary" href="#" role="button">Ver detalles »</a></p>
							</div>
						</div>
						<div class="row">
							<div class="container">
								<h3>T&iacute;tulo de Noticia</h3>
								<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
								<p><a class="btn btn-secondary" href="#" role="button">Ver detalles »</a></p>
							</div>
						</div>
						<div class="row">
							<div class="container">
								<h3>T&iacute;tulo de Noticia</h3>
								<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
								<p><a class="btn btn-secondary" href="#" role="button">Ver detalles »</a></p>
							</div>
						</div>-->
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-4">
						<div class="course color-opacity-blue padding-round" align="center">
							<h1>ABC</h1>
							<span>
								<img src="assets/images/courses/abc.jpg" alt="">
							</span>
							<br>
							<div align="center">
								<p>Aprende el ABCdario de todas las maneras posibles, estámos seguros de que te divertirás mientrás lo haces. </p>
								<p><a class="btn btn-primary" routerLink="/course-detail" routerLinkActive="active" role="button"><strong>Ir al Curso</strong></a></p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="course color-opacity-yellow padding-round" align="center">
							<h1>Animales</h1>
							<span>
								<img src="assets/images/courses/animales.jpg" alt="">
							</span>
							<br>
							<div align="center">
								<p>Los aanimales son muy importantes en el mundo, seguro no imaginas cuantos hay y tan diferentes todos !! Es Increíble, ven y entra y conoce más. </p>
								<p><a class="btn btn-warning" routerLink="/course-detail" routerLinkActive="active" role="button"><strong>Ir al Curso</strong></a></p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="course color-opacity-red padding-round" align="center">
							<h1>Comida</h1>
							<span>
								<img src="assets/images/courses/comida.jpg" alt="">
							</span>
							<br>
							<div align="center">
								<p>Todo lo que mamá prepara viene de algún lado, es seguro que aquí podrás ver y conocer todos esos alimentos que tanto te gustan y otros más. </p>
								<p><a class="btn btn-danger" routerLink="/course-detail" routerLinkActive="active" role="button"><strong>Ir al Curso</strong></a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--<div class="container">
		<div class="row justify-content-center">
			<div class="col-sm-12 col-md-10 iframe-game">
				<iframe src="../../../assets/games/MemoryGame.js-master/MemoryGame.html" style="width: 100%; height: 100%;"></iframe>	
			</div>
		</div>
	</div>-->
</section>