//-- defined sizes
$phone-size: 480px;
$tablet-size: 992px;
$color: rgba(128, 43, 0, 0.8);
$blue: #0066ff;
$yellow: #ffcc00;
$red: #cc0000;

#home-page{
	font-family: 'Indie Flower' !important;

	//-- style tablets
	@media screen and (min-width: $tablet-size){
		padding-top: 20px;
		padding-bottom: 20px; 
	}

	//-- style phones
	@media screen and (max-width: $phone-size){
		padding-top: 10px;
		padding-bottom: 10px; 
	}
}

div.custom-item{
	height: 650px;
	width: 100%;
	//-- style tablets
	@media screen and (min-width: $tablet-size){
		height: 650px;
	}

	//-- style phones
	@media screen and (max-width: $phone-size){
		height: 300px;
	}
}

div.custom-item img{
	height: 100%;
	width: 100%;
}

#mainCarousel{
	width: 100%;
}

#news{
	/*height: 700px;
	overflow: scroll;*/
}

.carousel-caption{
	font-family: 'Indie Flower';
	font-weight: bold;
	color: black;
	text-shadow: 2px 2px 8px grey;
	

	h1 strong {
		
	}

	p {
		font-weight: bold !important;
	}
}

div.course span{
	width: 100%;
	height: 200px;
}

div.course img{
	width: inherit;
	height: inherit;
}

div.course{
	//background-color: #eeeeee;
}

.padding-round{
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 7px 7px 7px 7px;
	border: 0px solid #000000;

	@media screen and (min-width: $tablet-size){
		padding: 20px;
	}

	//-- style phones
	@media screen and (max-width: $phone-size){
		padding: 10px;
	}
}


.banner-image{
	background: url(../../../assets/images/gif/background-3.gif) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#main-banner{
	h1 {font-weight: bold;}
	p, h1 {text-shadow: 3px 3px 6px grey;}
}