<section id="home-page" class="content container main-content-page" pageOverhead>
	<div id="main-banner" class="jumbotron banner-image padding-round">
		<div class="container-fluid" style="overflow: hidden;" zoom>
			<div class="row justify-content-center" align="center">
				<div class="col-sm-12">
					<h1 class="display-3 detach">{{ 'Welcome to Easy Learning world!' | translate }}</h1>
				</div>
				<div class="col-sm-12" align="center">
					<p class="detach">{{ 'We hope you enjoy your travel learning and playing!' | translate }}</p>
				</div>
			</div>
			<!--<p><a class="btn btn-primary btn-lg" href="#" role="button">M&aacute;s</a></p>-->
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div id="mainCarousel" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#mainCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#mainCarousel" data-slide-to="1"></li>
					<li data-target="#mainCarousel" data-slide-to="2"></li>
					<li data-target="#mainCarousel" data-slide-to="3"></li>
					<li data-target="#mainCarousel" data-slide-to="4"></li>
				</ol>
				<div class="carousel-inner" role="listbox">
					<div class="carousel-item active">
						<div class="custom-item">
							<img class="d-block img-fluid" src="assets/images/learning/learning03.jpg" alt="Third slide">
							<div class="carousel-caption d-none d-md-block">
								<h1><strong>¡{{'Learn' | translate}}!</strong></h1>
								<h3>{{'Learn everything what you need to know as a kid' | translate}}.</h3>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="custom-item">
							<img class="d-block img-fluid" src="assets/images/learning/learning01.jpeg" alt="First slide">
							<div class="carousel-caption d-none d-md-block">
								<h1><strong>¡{{'Play' | translate}}!</strong></h1>
								<h3>{{'Have a good time playing and doing everything you like' | translate}}.</h3>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="custom-item">
							<img class="d-block img-fluid" src="assets/images/learning/learning02.jpg" alt="Second slide">
							<div class="carousel-caption d-none d-md-block">
								<h1><strong>¡{{'Laugth' | translate}}!</strong></h1>
								<h3>{{'Always is a good time to smile' | translate}}.</h3>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="custom-item">
							<img class="d-block img-fluid" src="assets/images/learning/learning04.jpg" alt="Fourth slide">
							<div class="carousel-caption d-none d-md-block">
								<h1><strong>¡{{'Share' | translate}}!</strong></h1>
								<h3>{{'Make some new friends with your same age' | translate}}.</h3>
							</div>
						</div>
					</div>
				</div>
				<a class="carousel-control-prev" href="#mainCarousel" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">{{'Previous' | translate}}</span>
				</a>
				<a class="carousel-control-next" href="#mainCarousel" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">{{'Next' | translate}}</span>
				</a>
			</div>
		</div>
	</div>
	<br><br>
	<!-- Example row of columns -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 color-opacity padding-round">
				<div id="news" class="">
					<div align="center">
						<h1><strong>{{'News' | translate}}</strong></h1>
					</div>
					<div class="container" align="justify">
						<div class="container" zoom>
							<div class="row">
								<h3 class="grey-color"><strong>¡{{'New Courses' | translate}}!</strong></h3>
								<p class="detach-half">{{'We have added some new courses to our platform, sign in, go to courses and take a look about all new things just for you' | translate}}.</p>
								<!--<p><a class="btn btn-secondary" href="#" role="button">Ver detalles »</a></p>-->
							</div>
						</div>
						<div class="row">
							<div class="container" zoom>
								<h3 class="grey-color"><strong>¡{{'New Games' | translate}}!</strong></h3>
								<p class="detach-half">{{'We have added new games to our platform, sign in, go to courses and take a look of this' | translate}}.</p>
								<!--<p><a class="btn btn-secondary" href="#" role="button">Ver detalles »</a></p>-->
							</div>
						</div>
						<div class="row">
							<div class="container" zoom>
								<h3 class="grey-color"><strong>¡{{'Share and Interact' | translate}}!</strong></h3>
								<p class="detach-half">{{'This is a new funcionality that allow you to find some new friends while you are learning' | translate}}.</p>
								<!--<p><a class="btn btn-secondary" href="#" role="button">Ver detalles »</a></p>-->
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-sm-12 col-md-8">
								<button class="btn btn-brown col-sm-12 indie-flower font-white">{{'See more' | translate}}</button>
							</div>
						</div>
						<!--<div class="row">
							<div class="container">
								<h3>T&iacute;tulo de Noticia</h3>
								<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
								<p><a class="btn btn-secondary" href="#" role="button">Ver detalles »</a></p>
							</div>
						</div>
						<div class="row">
							<div class="container">
								<h3>T&iacute;tulo de Noticia</h3>
								<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
								<p><a class="btn btn-secondary" href="#" role="button">Ver detalles »</a></p>
							</div>
						</div>
						<div class="row">
							<div class="container">
								<h3>T&iacute;tulo de Noticia</h3>
								<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
								<p><a class="btn btn-secondary" href="#" role="button">Ver detalles »</a></p>
							</div>
						</div>-->
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-4">
						<div class="course color-opacity-blue padding-round" align="center">
							<h1>ABC</h1>
							<span>
								<img src="assets/images/courses/abc.jpg" alt="">
							</span>
							<br>
							<div align="center" zoom>
								<p>{{'Learn the ABC in all ways possible, we are sure you are gonna enjoy while you do it' | translate}}.</p>
								<p><a class="btn btn-primary" routerLink="/detalle-curso-abc" routerLinkActive="active" role="button"><strong>{{'Go to course' | translate}}.</strong></a></p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="course color-opacity-yellow padding-round" align="center">
							<h1 style="color: black !important;">{{'Animals' | translate}}</h1>
							<span>
								<img src="assets/images/courses/animales.jpg" alt="">
							</span>
							<br>
							<div align="center" zoom>
								<p style="color: black !important;">{{'Animals are very important in world, for sure you do not imagine how many of them exist and so diferent from each other !! It is amazing, come and know more' | translate}}.</p>
								<p><a class="btn btn-warning" routerLink="/detalle-curso-animales" routerLinkActive="active" role="button" style="color: black !important;"><strong>{{'Go to course' | translate}}</strong></a></p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="course color-opacity-red padding-round" align="center">
							<h1>{{'Food' | translate}}</h1>
							<span>
								<img src="assets/images/courses/comida.jpg" alt="">
							</span>
							<br>
							<div align="center" zoom>
								<p>{{'Everything that mom prepare comes from somewhere, here you are gonna see and learn every single one of those you love and many more' | translate}}.</p>
								<p><a class="btn btn-danger" routerLink="/detalle-curso-alimentos" routerLinkActive="active" role="button"><strong>{{'Go to course' | translate}}</strong></a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--<div class="container">
		<div class="row justify-content-center">
			<div class="col-sm-12 col-md-10 iframe-game">
				<iframe src="../../../assets/games/MemoryGame.js-master/MemoryGame.html" style="width: 100%; height: 100%;"></iframe>	
			</div>
		</div>
	</div>-->
</section>